version: "3.8"

services:
  mongo:
    image: mongo:6.0
    restart: always
    container_name: mongo
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: examplepassword

  backend:
    image: megha474/mean-backend:latest
    restart: always
    container_name: backend
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://root:examplepassword@mongo:27017/mean?authSource=admin
      PORT: 5000
    ports:
      - "5000:5000"

  frontend:
    image: megha474/mean-frontend:latest
    restart: always
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  mongo_data:
